

.container img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
  }
  footer {
    position: fixed;
 bottom: 0;
    width: 100%;
    
  }
  .footer-index {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }

@media only screen and (min-width: 1200px) {
    .card {
      margin-bottom: 8%;
    }

    
  }


  .parrafo
  {
    text-align: justify;
    font-size: 48;
    font-style: italic;
  }


